.div-1 {
    background-color:rgb(25, 25, 202);
    display: flex;
    justify-content: center;
    height: 100px;
    color: azure;
    font-size: 22px;
   
  }
  
  .div-2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    height: 850px;
  }
  
  .div-4 {
    background-color:rgb(255, 255, 255);
    height: 500px;
    width: 900px;
 
    justify-content: center;
    width: 75%;
    margin: center;
  }
  
  .div-5 {
  
    margin-left: 10px;
    background-color:rgb(88, 87, 87);
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    justify-content: center;
  }
  
  .div-6 {
    height: 20%;
    background-color:rgb(255, 255, 255);
    margin-bottom: 1px;
    justify-content: center;
    display: flex;
  }
  
  .div-7 {
    margin-top: 1px;
    height: 80%;
    background-color: lightyellow;
    justify-content: center;
  }
  
  .div-3 {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(92, 90, 86);
    
    
    margin: center;
  }
  #trueblue {
    height: 200px;
     width: 330px;
    display: flex;
    justify-content: center;
  
  }
  #lichsu {
    
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 30px;
  }
  #mucluc {
    width: 20%;
    border:1px solid black;
    margin-left: 100px;
    margin-top: 15px;
    background-color: rgb(214, 238, 229);
  }
  #chan {
    justify-content: center;
    width: 75%;
    display: flex;
    align-items: center;
    
    color: aliceblue;
    margin: 0 auto
    
  }
  #image-1 {
    margin-right: 200px;
    margin-left: 10px;
  }
  #image-2
  {margin-left: 100px;
  }
  #gioithieu {
    justify-content: center;
    
  }
  #tom-tat{
    margin-left: 30px;  


  }
  #image-3 {
    margin-top: 20px;  
    width: 20%;}
 #mucluc-1 {
   margin-top: 5px;
  margin-left: 30px;  

 }   
 #lichsu-1{
  margin-top: 20px; 
  margin-left: 50px;
  

 }
 

  